@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prompt:ital@1&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-merriweather: "Merriweather", "serif";
  --font-playfair: "Playfair", "serif";
  --font-prompt: "Prompt", "sans-serif";
  --font-dm-serif: "DM Serif Display", "serif";
}
